* {
    margin: 0;
    padding: 0;
}

/* 导航 */
.div {
    margin: 0 auto;
    margin-top: 100px;
    background-color: rgb(228, 228, 228);
    border-radius: 15px;
    position: relative;
    height: 30px;
}

.box {
    height: 30px;
    background-image: linear-gradient(rgb(27, 183, 255), rgb(0, 111, 202));
    position: absolute;
    border-radius: 15px;
    transition: all 0.3s linear;
    top: 0;
    z-index: 0;
}

.menu {
    display: flex;
    position: absolute;
    left: 0;
    top: 0;
}

.menu>div {
    height: 30px;
    line-height: 30px;
    padding: 0 10px;
    cursor: pointer;
    font-weight: bold;
    transition: all 0.1s linear 0.3s;
}

.selectcolor {
    color: #fff;
}

/* 轮播 */
.imagsdiv {
    margin: 0 auto;
    margin-top: 100px;
    width: 500px;
    height: 380px;
    overflow-x: hidden;
    position: relative;
}

.imgli {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    transition: all 0.3s linear;
}

.imgli>img {
    width: 500px;
    height: 380px;

}

.selectdiv {
    position: absolute;
    width: 100px;
    left: 200px;
    bottom: 20px;
    display: flex;
    justify-content: space-between;
}

.selectdiv>div {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: rgba(44, 44, 44, 0.5);
    cursor: pointer;
}

.selectdiv>.select {
    background-color: rgba(255, 255, 255, 0.5);
    transition: all 0.3s linear;
}